/* Define common styles for all icons */
.icon {
  box-sizing: border-box;
  display: inline-block;
  font-size: inherit;
  font-style: normal;
  height: 1em;
  position: relative;
  text-indent: -9999px;
  vertical-align: middle;
  width: 1em;
}

.icon::before,
.icon::after {
  content: "";
  display: block;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* Define specific styles for different icon sizes */
.icon.icon-2x {
  font-size: 1.6rem;
}

.icon.icon-3x {
  font-size: 2.4rem;
}

.icon.icon-4x {
  font-size: 3.2rem;
}

/* Define styles for arrow icons */
.icon-arrow-down::before,
.icon-arrow-left::before,
.icon-arrow-right::before,
.icon-arrow-up::before {
  border: .1rem solid currentColor;
  border-bottom: 0;
  border-right: 0;
  height: .65em;
  width: .65em;
}

.icon-arrow-down::before {
  transform: translate(-50%, -75%) rotate(225deg);
}

.icon-arrow-left::before {
  transform: translate(-25%, -50%) rotate(-45deg);
}

.icon-arrow-right::before {
  transform: translate(-75%, -50%) rotate(135deg);
}

.icon-arrow-up::before {
  transform: translate(-50%, -25%) rotate(45deg);
}

/* Define styles for other icons... */

/* Add comments to describe each icon */
/* .icon-name::before {
  ... Icon styles ...
} */
